
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kode-city-primary: mat.define-palette(mat.$indigo-palette);
$kode-city-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kode-city-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$kode-city-theme: mat.define-light-theme((
  color: (
    primary: $kode-city-primary,
    accent: $kode-city-accent,
    warn: $kode-city-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($kode-city-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
$breakpoint-xs: 600px; // Define a breakpoint for mobile screens
$breakpoint-md: 960px; // Define for tablets

.playground {
  display: flex;
  flex-direction: row;
  gap: 20px;

  // Mobile responsiveness
  @media (max-width: $breakpoint-xs) {
    flex-direction: column;
    gap: 10px;
  }
}

app-code-editor, app-live-preview {
  flex: 1;
}

.terminal-container {
  margin-top: 20px;
  height: 400px;

  @media (max-width: $breakpoint-xs) {
    height: 300px;
  }
}
